html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

body {
    background: #F9F9F0;
    color: #535353;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

h1, h2 {
    font-family: 'VT323', serif;
}

h1 {
    font-size: 80px;
    margin: 10px 0 30px 0;
}

h2 {
    font-size: 60px;
    margin: 0 0 10px 0;
}

h3 {
    font-size: 20px;
    margin: 5px 0 15px 0;
}

strong {
    font-weight: bold;
}

canvas {
    background: #FFF;
    position: absolute;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

.inactive {
    color: #969696;
}

.player .title {
    float: left;
    width: 240px;
}

.player .keys {
    float: left;
    font-size: 28px;
    margin: 19px;
}

.red.active {
    color: #C9000A;
}

.green.active {
    color: #027C00;
}

.blue.active {
    color: #2A368C;
}

.orange.active {
    color: #FF7219;
}

.purple.active {
    color: #63238C;
}

.pink.active {
    color: #FF92EA;
}

#content {
    width: 100%;
    height: 100%;
}

.content {
    background: #FFF;
}

#content-left {
    width: 70%;
    height: 100%;
    float: left;
}

#content-right {
    margin-left: 2%;
    width: 28%;
    float: left;
}

#menu {
    padding: 30px;
}