$default-theme-red: #D4373E;
$dark-theme-red: red;
$default-theme-green: #3BCB69;
$dark-theme-green: lawngreen;
$default-theme-blue: #3B90C3;
$dark-theme-blue: dodgerblue;
$default-theme-orange: #FFA039;
$dark-theme-orange: orange;
$default-theme-purple: #7D11CD;
$dark-theme-purple: mediumpurple;
$default-theme-pink: #DC72FF;
$dark-theme-pink: deeppink;

$default-theme-superpower-circle-color: #C8C8B6;
$dark-theme-superpower-circle-color: #666666;