@import 'reset';

$default-theme-red: #D4373E;
$dark-theme-red: red;
$default-theme-green: #3BCB69;
$dark-theme-green: lawngreen;
$default-theme-blue: #3B90C3;
$dark-theme-blue: dodgerblue;
$default-theme-orange: #FFA039;
$dark-theme-orange: orange;
$default-theme-purple: #7D11CD;
$dark-theme-purple: mediumpurple;
$default-theme-pink: #DC72FF;
$dark-theme-pink: deeppink;

body {
    color: #3F3E37;
    background-color: #EBE7DC;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    top: 0;
    left: 0;
    background-image: none;
    background-position: left bottom;
    background-repeat: no-repeat;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 22px;
    font-weight: bold;
}

h4 {
    font-size: 18px;
}

a {
    color: #666666;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

strong {
    font-weight: bold;
}

canvas {
    position: absolute;
}

iframe {
    border: none;
    background: #F7F6F2;
}

p {
    margin-bottom: 12px;
}

.button {
    background: #EBE7DC;
    padding: 10px;
    color: #666666;
    text-decoration: none;
}

.button:hover {
    background: #D9D6CB;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

.layer {
    width: 100%;
    height: 100%;
}

.light {
    background-color: #F7F6F2;
}

.inactive {
    color: #969696;
}

#layer-menu table {
    margin: auto;
    height: 100%;
}

.player .title {
    float: left;
    width: 240px;
}

.player .keys {
    float: left;
    font-size: 28px;
    margin: 19px;
}

.red.active {
    color: $default-theme-red;
}

.green.active {
    color: $default-theme-green;
}

.blue.active {
    color: $default-theme-blue;
}

.orange.active {
    color: $default-theme-orange;
}

.purple.active {
    color: $default-theme-purple;
}

.pink.active {
    color: $default-theme-pink;
}

#content {
    width: 100%;
    height: 100%;
}

#content-left {
    width: 70%;
    height: 100%;
    float: left;
}

#content-right {
    width: 30%;
    height: 100%;
    float: left;
    padding: 24px;
    /* TODO: use border-box on all elements */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#menu {
    padding: 30px;
    width: 580px;
}

#menu-intro {
    padding: 10px;
    margin-bottom: 20px;
}

#menu-players .player > div {
    float: left;
}

#menu-players .player > div > * {
    padding: 10px;
    height: 40px;
    vertical-align: middle;
    font-size: 28px;
    line-height: 40px;
}

#menu-players .head div {
    float: left;
    font-size: 18px;
    background: #D9D6CC;
    padding: 5px 0;
}

#menu-players .head div *{
    padding: 5px 10px;
}

#menu-players .title {
    width: 160px;
    margin: 0 1px 1px 0;
}

#menu-players .key {
    text-align: center;
}

#menu-players .key.left,
#menu-players .key.right {
    width: 60px;
    margin: 0 1px 1px 0;
}

#menu-players .superpower .key {
    width: 40px;
    margin: 0 1px 1px 0;
}

#menu-players-list div {
    cursor: pointer;
}

#menu-players-list .title,
#menu-players-list .key.left,
#menu-players-list .key.right,
#menu-players-list .superpower .key,
#menu-players-list .superpower .superpowerType {
    border-bottom: 1px solid #D9D6CC;
}

#menu-players .superpower {
    width: 297px;
}

#menu-players .superpower .key {
    float: left;
    margin-right: 1px;
}

#menu-players .superpowerType {
    font-size: 18px;
    width: 216px;
    height: 40px;
    float: left;
    overflow: hidden;
    position: relative;
}

#menu-players .superpowerType div {
    float: left;
    font-size: 18px;
}

#menu-players .superpowerType .left {
    position: absolute;
    padding: 10px;
    top: 0;
    left: 10px;

    .arrow-left {
        width: 16px;
        height: 16px;
        position: relative;
        top: 8px;
    }
}

#menu-players .superpowerType .right {
    position: absolute;
    padding: 10px;
    top: 0;
    right: 10px;

    .arrow-right {
        width: 16px;
        height: 16px;
        position: relative;
        top: 8px;
    }
}

#menu-players .superpowers {
    width: 100%;
}

#menu-players .superpowers div {
    width: 100%;
    text-align: center;
}

#lightbox-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

#lightbox-wrap {
    height: 100%;
    overflow-y: scroll;
}

#lightbox-wrap table {
    height: 100%;
    text-align: center;
    margin: auto;
}

#lightbox-content {
    background: #FFF;
    display: table-cell;
    padding: 20px;
    text-align: left;
    max-width: 600px;
    margin: auto;
}

#lightbox-content .button {
    padding: 15px;
    display: block;
    text-align: center;
}

#lightbox-content .deathmatch h1 {
    padding: 100px;
    font-size: 60px;
    margin: 0;
}

#player-scores {
    margin: 10px 0 30px 0;
}

#player-scores .title {
    float: left;
    width: 180px;
}

#player-scores .points {
    float: left;
    font-size: 40px;
}

.superpowerCircle {
    height: 7px;
    width: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    margin-top: 2px;
    margin-right: 2px;
    float: left;
}

.superpowerCircle.red {
    border: 2px solid $default-theme-red;
}

.superpowerCircle.green {
    border: 2px solid $default-theme-green;
}

.superpowerCircle.blue {
    border: 2px solid $default-theme-blue;
}

.superpowerCircle.orange {
    border: 2px solid $default-theme-orange;
}

.superpowerCircle.purple {
    border: 2px solid $default-theme-purple;
}

.superpowerCircle.pink {
    border: 2px solid $default-theme-pink;
}

#author {
    position: absolute;
    bottom: 15px;
    padding-right: 15px;
    font-size: 11px;
    color: #888;
    line-height: 1.4;
}

#author a,
#author a:visited{
    color: #888;
    text-decoration: none;
}

#author a:hover{
    color: #444;
    text-decoration: underline;
}

.key .arrow {
    width: 0;
    height: 0;
    display: block;
    border-style: solid;
}

.key .arrow-left {
    margin: 9px 0 0 9px;
    border-width: 12px 18px 12px 0;
    border-color: transparent $default-theme-orange transparent transparent;
}

.key .arrow-right {
    margin: 9px 0 0 13px;
    border-width: 12px 0 12px 18px;
    border-color: transparent transparent transparent $default-theme-orange;
}

.key .arrow-down {
    margin: 14px 0 0 8px;
    border-width: 18px 12px 0 12px;
    border-color: $default-theme-orange transparent transparent transparent;
}

.inactive .key .arrow-left {
    border-color: transparent #969696 transparent transparent;
}

.inactive .key .arrow-right {
    border-color: transparent transparent transparent #969696;
}

.inactive .key .arrow-down {
    border-color: #969696 transparent transparent transparent;
}

#button-menu {
    position: absolute;
    bottom: 70px;
}

#dark-knight {
    background: #222;
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
}

#lightbox-content .deathmatch h1 {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 0.3s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { color: #3F3E37; background: #FFF; }
    49% { color: #3F3E37; background: #FFF; }
    50% { color: #FFF; background: #3F3E37; }
    100% { color: #FFF; background: #3F3E37; }
}

@-webkit-keyframes blinker {
    0% { color: #3F3E37; background: #FFF; }
    49% { color: #3F3E37; background: #FFF; }
    50% { color: #FFF; background: #3F3E37; }
    100% { color: #FFF; background: #3F3E37; }
}

@keyframes blinker {
    0% { color: #3F3E37; background: #FFF; }
    49% { color: #3F3E37; background: #FFF; }
    50% { color: #FFF; background: #3F3E37; }
    100% { color: #FFF; background: #3F3E37; }
}

i.arrow {
    border: solid #969696;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

i.arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

i.arrow-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#change-theme {
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
}

body.dark-theme {
    color: #DDD;
    background-color: #222;

    a {
        color: #DDD;
    }

    i.arrow {
        border-color: #DDD;
    }

    .red.active {
        color: $dark-theme-red;
    }
    .superpowerCircle.red {
        border-color: $default-theme-red;
    }

    .green.active {
        color: $dark-theme-green;
    }
    .superpowerCircle.green {
        border: 2px solid $dark-theme-green;
    }

    .blue.active {
        color: $dark-theme-blue;
    }
    .superpowerCircle.blue {
        border: 2px solid $dark-theme-blue;
    }

    .orange.active {
        color: $dark-theme-orange;
    }
    .superpowerCircle.orange {
        border: 2px solid $dark-theme-orange;
    }

    .purple.active {
        color: $dark-theme-purple;
    }
    .superpowerCircle.purple {
        border: 2px solid $dark-theme-purple;
    }

    .pink.active {
        color: $dark-theme-pink;
    }
    .superpowerCircle.pink {
        border: 2px solid $dark-theme-pink;
    }

    .button {
        background: #222;
        color: #DDD;
    }

    .button:hover {
        background: #444;
    }

    .light {
        background-color: #333;
    }

    .inactive {
        color: #969696;
    }

    #menu-players .head div {
        background: #444;
    }

    #menu-players-list .title,
    #menu-players-list .key.left,
    #menu-players-list .key.right,
    #menu-players-list .superpower .key,
    #menu-players-list .superpower .superpowerType {
        border-bottom: 1px solid #444;
    }

    #lightbox-overlay {
        background: rgba(0, 0, 0, 0.7);
    }

    #lightbox-content {
        background: #333;
        color: #888;
    }

    #author {
        color: #888;
    }

    #author a,
    #author a:visited{
        color: #888;
    }

    #author a:hover{
        color: #DDD;
    }

    .key .arrow-left {
        border-color: transparent $default-theme-orange transparent transparent;
    }

    .key .arrow-right {
        border-color: transparent transparent transparent $default-theme-orange;
    }

    .key .arrow-down {
        border-color: $default-theme-orange transparent transparent transparent;
    }

    .inactive .key .arrow-left {
        border-color: transparent #969696 transparent transparent;
    }

    .inactive .key .arrow-right {
        border-color: transparent transparent transparent #969696;
    }

    .inactive .key .arrow-down {
        border-color: #969696 transparent transparent transparent;
    }

    #dark-knight {
        background: #222;
    }


    @-moz-keyframes blinker {
        0% { color: #222; background: #DDD; }
        49% { color: #222; background: #DDD; }
        50% { color: #DDD; background: #222; }
        100% { color: #DDD; background: #222; }
    }

    @-webkit-keyframes blinker {
        0% { color: #222; background: #DDD; }
        49% { color: #222; background: #DDD; }
        50% { color: #DDD; background: #222; }
        100% { color: #DDD; background: #222; }
    }

    @keyframes blinker {
        0% { color: #222; background: #DDD; }
        49% { color: #222; background: #DDD; }
        50% { color: #DDD; background: #222; }
        100% { color: #DDD; background: #222; }
    }
}