<IfModule mod_rewrite.c>
    RewriteEngine on
    Rewritecond %{HTTP_HOST} !^(achtungkurve\.com) [NC,OR]
    RewriteCond %{HTTPS} !=on
    RewriteRule (.*) https://achtungkurve.com$1 [R=301,L]
</IfModule>