html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

body {
    color: #3F3E37;
    background: #EBE7DC;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    top: 0;
    left: 0;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 18px;
}

strong {
    font-weight: bold;
}

canvas {
    position: absolute;
}

.button {
    background: #EBE7DC;
    padding: 10px;
    color: #666666;
    text-decoration: none;
}

.button:hover {
    background: #D9D6CB;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

.light {
    background-color: #F7F6F2;
}

.inactive {
    color: #969696;
}

.player .title {
    float: left;
    width: 240px;
}

.player .keys {
    float: left;
    font-size: 28px;
    margin: 19px;
}

.red.active {
    color: #D4373E;
}

.green.active {
    color: #3BCB69;
}

.blue.active {
    color: #3B90C3;
}

.orange.active {
    color: #FFA039;
}

.purple.active {
    color: #7D11CD;
}

.pink.active {
    color: #DC72FF;
}

#content {
    width: 100%;
    height: 100%;
}

#content-left {
    width: 70%;
    height: 100%;
    float: left;
}

#content-right {
    padding: 1% 2%;
    width: 26%;
    float: left;
    height: 96%;
}

#menu {
    padding: 30px;
    width: 580px;
}

#menu-intro {
    padding: 10px;
    margin-bottom: 20px;
}

#menu-players .player > div {
    float: left;
}

#menu-players .player > div > * {
    padding: 10px;
    height: 40px;
    vertical-align: middle;
    font-size: 28px;
    line-height: 40px;
}

#menu-players .head div {
    float: left;
    font-size: 18px;
    background: #D9D6CC;
    padding: 5px 0;
}

#menu-players .head div *{
    padding: 5px 10px;
}

#menu-players .title {
    width: 160px;
    margin: 0 1px 1px 0;
}

#menu-players .key {
    text-align: center;
}

#menu-players .key.left,
#menu-players .key.right {
    width: 60px;
    margin: 0 1px 1px 0;
}

#menu-players .superpower .key {
    width: 40px;
    margin: 0 1px 1px 0;
}

#menu-players-list div {
    cursor: pointer;
}

#menu-players-list .title,
#menu-players-list .key.left,
#menu-players-list .key.right,
#menu-players-list .superpower .key,
#menu-players-list .superpower .superpowerType {
    border-bottom: 1px solid #D9D6CC;
}

#menu-players .superpower {
    width: 297px;
}

#menu-players .superpower .key {
    float: left;
    margin-right: 1px;
}

#menu-players .superpowerType {
    font-size: 18px;
    width: 216px;
    height: 40px;
    float: left;
    overflow: hidden;
}

#menu-players .superpowerType div {
    float: left;
    font-size: 18px;
}

#menu-players .superpowerType .left {
    width: 15px;
    height: 32px;
    background: url('../images/arrow-left.png');
    margin-top: 5px;
}

#menu-players .superpowerType .right {
    width: 15px;
    height: 32px;
    background: url('../images/arrow-right.png');
    margin-top: 5px;
    float: right;
}

#menu-players .superpowers {
    width: 165px;
    padding: 0 10px;
}

#menu-players .superpowers div {
    width: 100%;
    text-align: center;
}

#lightbox-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../images/overlay.png');
}

#lightbox-wrap{
    height: 100%;
}

#lightbox-wrap table {
    height: 100%;
    text-align: center;
    margin: auto;
}

#lightbox-content {
    background: #FFF;
    display: table-cell;
    padding: 20px;
    text-align: left;
    max-width: 60%;
    margin: auto;
}

#player-scores {
    margin: 10px 0 30px 0;
}

#player-scores .title {
    float: left;
    width: 180px;
}

#player-scores .points {
    float: left;
    font-size: 40px;
}

.superpowerCircle {
    height: 7px;
    width: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    margin-top: 2px;
    margin-right: 2px;
    float: left;
}

.superpowerCircle.red {
    border: 2px solid #D4373E;
}

.superpowerCircle.green {
    border: 2px solid #3BCB69;
}

.superpowerCircle.blue {
    border: 2px solid #3B90C3;
}

.superpowerCircle.orange {
    border: 2px solid #FFA039;
}

.superpowerCircle.purple {
    border: 2px solid #7D11CD;
}

.superpowerCircle.pink {
    border: 2px solid #DC72FF;
}

#author {
    position: absolute;
    bottom: 15px;
    padding-right: 15px;
    font-size: 11px;
    color: #888;
}

#author a,
#author a:visited{
    padding: 2px;
    color: #888;
    text-decoration: none;
}

#author a:hover{
    color: #444;
    text-decoration: underline;
}

.beta {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    position: fixed;
    top: 200px;
    right: -88px;
    font-size: 30px;
    padding: 10px 30px;
    background: #333;
    color: #cac9c5;
}